@model AppUser
@{ AppUser user = await _userManager.GetUserAsync(User);}
@{ System.Globalization.DateTimeFormatInfo date = new System.Globalization.DateTimeFormatInfo();}

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- profile section starts -->
@await Component.InvokeAsync("_Profile", Model.Id)
<!-- profile section ends -->

<!-- about section starts -->
<section id="userInfo">
    <div>
        <h1>Information About User</h1>
        <hr />
        <div class="information">
            <div>
                <p>Hometown</p>
            </div>
            <div>
                @if (user == Model)
                {
                    if (user.Hometown == null)
                    {
                        <div>
                            <form asp-controller="AccountInfo" asp-action="UpdateHometown">
                                <input type="text" name="hometown">
                                <button type="submit">Add</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <p class="answer">@Model.Hometown</p>
                        <div>
                            <form style="margin-top: 10px;" asp-controller="AccountInfo" asp-action="UpdateHometown">
                                <input type="text" name="hometown">
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    }
                }
                else
                {
                    if (Model.Hometown == null)
                    {
                        <p>No information to show</p>
                    }
                    else
                    {
                        <p class="answer">@Model.Hometown</p>
                    }
                }
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Current City</p>
            </div>
            <div>
                @if (user == Model)
                {
                    if (user.CurrentCity == null)
                    {
                        <div>
                            <form asp-controller="AccountInfo" asp-action="UpdateCurrentCity">
                                <input type="text" name="currentCity">
                                <button type="submit">Add</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <p class="answer">@Model.CurrentCity</p>
                        <div>
                            <form style="margin-top: 10px;" asp-controller="AccountInfo" asp-action="UpdateCurrentCity">
                                <input type="text" name="currentCity">
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    }
                }
                else
                {
                    if (Model.CurrentCity == null)
                    {
                        <p>No information to show</p>
                    }
                    else
                    {
                        <p class="answer">@Model.CurrentCity</p>
                    }
                }
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Birth Date</p>
            </div>
            <div>
                <p class="answer">@Model.Birthday.Day @date.GetMonthName(Model.Birthday.Month).ToString()</p>
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Birth Year</p>
            </div>
            <div>
                <p class="answer">@Model.Birthday.Year</p>
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Gender</p>
            </div>
            <div>
                @if (user == Model)
                {
                    if (user.Gender == null)
                    {
                        <div>
                            <form asp-controller="AccountInfo" asp-action="UpdateGender">
                                <select name="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                                <button type="submit">Add</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <p class="answer">@Model.Gender</p>
                        <div>
                            <form style="margin-top: 10px;" asp-controller="AccountInfo" asp-action="UpdateGender">
                                <select name="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    }
                }
                else
                {
                    if (Model.Gender == null)
                    {
                        <p>No information to show</p>
                    }
                    else
                    {
                        <p class="answer">@Model.Gender</p>
                    }
                }
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Education</p>
            </div>
            <div>
                @if (user == Model)
                {
                    if (user.Education == null)
                    {
                        <div>
                            <form asp-controller="AccountInfo" asp-action="UpdateEducation">
                                <input type="text" name="education">
                                <button type="submit">Add</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <p class="answer">@Model.Education</p>
                        <div>
                            <form style="margin-top: 10px;" asp-controller="AccountInfo" asp-action="UpdateEducation">
                                <input type="text" name="education">
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    }
                }
                else
                {
                    if (Model.Education == null)
                    {
                        <p>No information to show</p>
                    }
                    else
                    {
                        <p class="answer">@Model.Education</p>
                    }
                }
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Email</p>
            </div>
            <div>
                @if (user == Model)
                {
                    <p class="answer">@Model.Email</p>
                    <div>
                        <form style="margin-top: 10px;" asp-controller="AccountInfo" asp-action="UpdateEmail">
                            <input type="email" name="email" placeholder="email@example.com" />
                            <button type="submit">Update</button>
                        </form>
                    </div>
                }
                else
                {
                    <p class="answer">@Model.Email</p>
                }
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Phone Number</p>
            </div>
            <div>
                @if (user == Model)
                {
                    if (user.PhoneNumber == null)
                    {
                        <div>
                            <form asp-controller="AccountInfo" asp-action="UpdatePhoneNumber">
                                <input type="tel" name="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="012-345-67-89" />
                                <button type="submit">Add</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <p class="answer">@Model.PhoneNumber</p>
                        <div>
                            <form style="margin-top: 10px;" asp-controller="AccountInfo" asp-action="UpdatePhoneNumber">
                                <input type="text" name="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="012-345-67-89" />
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    }
                }
                else
                {
                    if (Model.PhoneNumber == null)
                    {
                        <p>No information to show</p>
                    }
                    else
                    {
                        <p class="answer">@Model.PhoneNumber</p>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- about section ends -->