@model AppUser
@{ AppUser user = await _userManager.GetUserAsync(User);}
@{ System.Globalization.DateTimeFormatInfo date = new System.Globalization.DateTimeFormatInfo();}

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- profile section starts -->
@await Component.InvokeAsync("_Profile", Model.Id)
<!-- profile section ends -->

<!-- about section starts -->
<section id="userInfo">
    <div>
        <h1>Information About User</h1>
        <hr />
        <div class="information">
            <div>
                <p>Hometown</p>
            </div>
            <div>
                @if (user.Hometown == null && user == Model)
                {
                    <div>
                        <form>
                            <input type="text">
                            <button type="submit">Add</button>
                        </form>
                    </div>
                }
                else if (user.Hometown == null && user != Model)
                {
                    <p>No information to show</p>
                }
                else
                {
                    <p class="answer">@Model.Hometown</p>
                }
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Current City</p>
            </div>
            <div>
                @if (user.CurrentCity == null && user == Model)
                {
                    <div>
                        <form>
                            <input type="text">
                            <button type="submit">Add</button>
                        </form>
                    </div>
                }
                else if (user.CurrentCity == null && user != Model)
                {
                    <p>No information to show</p>
                }
                else
                {
                    <p class="answer">@Model.CurrentCity</p>
                }
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Birth Date</p>
            </div>
            <div>
                <p class="answer">@Model.Birthday.Day @date.GetMonthName(Model.Birthday.Month).ToString()</p>
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Birth Year</p>
            </div>
            <div>
                <p class="answer">@Model.Birthday.Year</p>
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Gender</p>
            </div>
            <div>
                @if (user.Gender == null && user == Model)
                {
                    <div>
                        <form>
                            <input type="text">
                            <button type="submit">Add</button>
                        </form>
                    </div>
                }
                else if (user.Gender == null && user != Model)
                {
                    <p>No information to show</p>
                }
                else
                {
                    <p class="answer">@Model.Gender</p>
                }
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Education</p>
            </div>
            <div>
                @if (user.Education == null && user == Model)
                {
                    <div>
                        <form>
                            <input type="text">
                            <button type="submit">Add</button>
                        </form>
                    </div>
                }
                else if (user.Education == null && user != Model)
                {
                    <p>No information to show</p>
                }
                else
                {
                    <p class="answer">@Model.Education</p>
                }
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Email</p>
            </div>
            <div>
                <p class="answer">@Model.Email</p>
            </div>
        </div>
        <hr />
        <div class="information">
            <div>
                <p>Phone Number</p>
            </div>
            <div>
                @if (user.PhoneNumber == null && user == Model)
                {
                    <div>
                        <form>
                            <input type="tel">
                            <button type="submit">Add</button>
                        </form>
                    </div>
                }
                else if (user.PhoneNumber == null && user != Model)
                {
                    <p>No information to show</p>
                }
                else
                {
                    <p class="answer">@Model.PhoneNumber</p>
                }
            </div>
        </div>
    </div>
</section>
<!-- about section ends -->