@model FriendVM
@{ AppUser user = await _userManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "Friends";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- profile section starts -->
@await Component.InvokeAsync("_Profile", Model.MainUser.Id)
<!-- profile section ends -->

<!-- friends section starts -->
    <section id="userFriends">
        @if (Model.Friends.Count() == 0)
        {
            if (Model.MainUser == user)
            {
                <div id="noFriend">
                    <p>Your friends list is empty!</p>
                </div>
            }
            else
            {
                <div id="noFriend">
                    <p><strong>@Model.MainUser.Name @Model.MainUser.Surname</strong>'s friends list is empty!</p>
                </div>
            }

        }
        else
        {
            <div>
                @foreach (AppUser friend in Model.FriendUsers)
                {
                    <div class="friend">
                        <div>
                            <div>
                                @if (friend.CoverPhoto == null)
                                {
                                    <p>Cover Photo</p>
                                }
                                else
                                {
                                    <img src="~/img/@friend.CoverPhoto" alt="user's cover image" />
                                }
                            </div>
                            <div>
                                @if (friend.ProfilePhoto == null)
                                {
                                    <p>No<br />Photo</p>
                                }
                                else
                                {
                                    <img src="~/img/@friend.ProfilePhoto" alt="user's cover image" />
                                }
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <a asp-controller="Account" asp-action="Timeline" asp-route-id="@friend.Id">@friend.Name @friend.Surname</a>
                                </li>
                                <li id="friendOptions">
                                    <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                                    <ul>
                                        <li> <a href="#">Unfriend</a> </li>
                                        <li> <a href="#">Block</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        }
    </section>
<!-- friends section ends -->