@model SearchVM

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<section id="searchBar">
    @if (Model.Users.Count() == 0)
    {
        <div id="errorMessage">
            <p>Sorry, we couldn't find the user<br /><strong>@ViewBag.Fullname</strong></p>
        </div>
    }
    else
    {
        <div>
        @foreach (AppUser user in Model.Users)
        {
            <div class="searchResult">
                <div class="resultAccount">
                    @if (!(Model.Photos.Any(p => p.user == user && p.isProfilePhoto == true)))
                    {
                        <span>No<br />Photo</span>
                    }
                    else
                    {
                        @foreach (Photo photo in Model.Photos.Where(p => p.user == user && p.isProfilePhoto == true).TakeLast(1))
                        {
                            <img src="~/img/@photo.Link" alt="user's profile photo" />
                        }
                    }
                    <a asp-controller="Account" asp-action="Timeline" asp-route-id="@user.Id">@user.Name @user.Surname</a>
                </div>
                <div class="showProfile">
                    <form asp-action="ShowProfile">
                        <input type="hidden" name="userId" value="@user.Id">
                        <button type="submit">Show Profile</button>
                    </form>
                </div>
            </div>
        }
        </div>
        @if (ViewBag.Quantity > 5)
        {
            <div id="pagination">
                <ul>
                    <li>
                        <a href="#"> <i class="fas fa-angle-left"></i>Previous</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Next" asp-route-id="">Next<i class="fas fa-angle-right"></i> </a>
                    </li>
                </ul>
            </div>
         }
    }
</section>