@model AppUser
@{ var user = await _userManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "Timeline";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- profile section starts -->
@await  Component.InvokeAsync("_Profile", Model.Id)
<!-- profile section ends -->

<!-- posts section starts -->
        <section id="posts">
            @foreach (Post post in _db.Posts.Where(p => p.Poster == Model))
            {
                <div class="post">
                    <div>
                        <div id="postOwner">
                            <div>
                                @if(!(_db.Photos.Any(p => p.user == Model && p.isProfilePhoto == true)))
                                {
                                     <p>No<br />Photo</p>
                                }
                                else
                                {
                                    @foreach (Photo photo in _db.Photos.Where(p => p.user == Model && p.isProfilePhoto == true))
                                    {
                                        <img src="~/img/@photo.Link" alt="post owner's profile photo">
                                    }
                                }
                            </div>
                            <div>
                                <a href="#">@Model.Name @Model.Surname</a>
                                <p>@post.Time</p>
                            </div>
                        </div>
                        <div id="postSettings">
                            <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                        </div>
                    </div>
                    <div id="postContent">
                        <p>@post.Content</p>
                    </div>
                    <div id="postStatistics">
                        <div>
                            <div>
                                <a href="#"> <i class="far fa-thumbs-up"></i> <span>@_db.Likes.Where(l  => l.Post == post).Count()</span> </a>
                                <a href="#"> <i class="far fa-thumbs-down"></i> <span>@_db.Dislikes.Where(d => d.Post == post).Count()</span> </a>
                            </div>
                            <div>
                                <a href="#"> <i class="far fa-comment-alt"></i> <span>@_db.Comments.Where(c  => c.Post == post).Count()</span> </a>
                            </div>
                        </div>
                    </div>
                    <div id="postOptions">
                        <div>
                            <div>
                                <form asp-controller="Post" asp-action="Like">
                                    <input type="hidden" value="@post.Id" name="postId" />
                                    <button type="submit"> <i class="far fa-thumbs-up"></i>Like</button>
                                </form>
                            </div>
                            <div>
                                <form asp-controller="Post" asp-action="Dislike">
                                    <input type="hidden" value="@post.Id" name="postId" />
                                    <button type="submit"> <i class="far fa-thumbs-down"></i>Dislike</button>
                                </form>
                            </div>
                            <div>
                                <form>
                                    <input type="hidden" />
                                    <button type="submit"> <i class="far fa-comment-alt"></i>Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="postComments">
                        @foreach (Comment comment in _db.Comments.Where(c => c.Post == post))
                        {
                            <div class="comment">
                                <div>
                                    <div>
                                        <div>
                                            <img src="~/img/profilePhoto.jpg" alt="comment author's profile photo">
                                        </div>
                                        <div>
                                            @*@foreach (AppUser commenter in _db.Users.Where(u => u == comment.Commenter))
                                            {
                                                <a href="#">@commenter.Name @commenter.Surname</a>
                                            }*@
                                            <a href="#">@user.Name @user.Surname</a>
                                            <p>3 minutes ago</p>
                                        </div>
                                    </div>
                                    <div class="commentSettings">
                                        <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                                    </div>
                                </div>
                                <div>
                                    <p>@comment.Content</p>
                                </div>
                            </div>
                        }
                        
                    </div>
                    <div id="writeComment">
                        <div>
                            <div>
                                @if(!(_db.Photos.Any(p => p.user == Model && p.isProfilePhoto == true)))
                                {
                                     <p>No<br />Photo</p> 
                                }
                                else
                                {
                                    @foreach (Photo photo in _db.Photos.Where(p => p.user == Model && p.isProfilePhoto == true))
                                    {
                                        <img src="~/img/@photo.Link" alt="user's profile photo" />
                                    }
                                }
                            </div>
                            <div>
                                <form asp-controller="Post" asp-action="WriteComment">
                                    <input type="text" id="comment" name="comment" placeholder="Write a     comment...">
                                    <button type="submit">Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </section>
        <!-- posts section ends -->

@await  Html.PartialAsync("_MessageBoxPartial", Model)

@await  Html.PartialAsync("_PhotoPartial")

@await  Html.PartialAsync("_ProfilePhotoPartial")

@await  Html.PartialAsync("_CoverPhotoPartial")