@model AppUser
@{ System.Globalization.DateTimeFormatInfo date = new System.Globalization.DateTimeFormatInfo();}

@{
    ViewData["Title"] = "Info";
}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <form>
                <fieldset disabled>
                    <div class="form-group">
                        <label for="disabledTextInput">Id</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Model.Id" />
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Fullname</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Model.Name @Model.Surname" />
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Email</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Model.Email" />
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Username</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Model.UserName" />
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Birthday</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Model.Birthday.Day @date.GetMonthName(Model.Birthday.Month) @Model.Birthday.Year" />
                    </div>
                </fieldset>
            </form>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 50px;">
                <a asp-controller="UserManagement" asp-action="ShowFriends" asp-route-id="@Model.Id" type="submit" class="btn btn-primary pl-3 pr-3 mr-3 h-100">Show friends</a>
                <a asp-controller="UserManagement" asp-action="ShowPhotos" asp-route-id="@Model.Id" type="submit" class="btn btn-primary pl-3 pr-3 mr-3 h-100">Show photos</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="UserManagement" asp-action="ShowMessages" asp-route-id="@Model.Id" type="submit" class="btn btn-primary pl-3 pr-3 mr-3 h-100">Show messages</a>
                }
                <a asp-controller="UserManagement" asp-action="ShowComments" asp-route-id="@Model.Id" type="submit" class="btn btn-primary pl-3 pr-3 mr-3 h-100">Show comments</a>
                <a asp-controller="UserManagement" asp-action="ShowLikes" asp-route-id="@Model.Id" type="submit" class="btn btn-primary pl-3 pr-3 mr-3 h-100">Show likes</a>
                <a asp-controller="UserManagement" asp-action="ShowDislikes" asp-route-id="@Model.Id" type="submit" class="btn btn-primary pl-3 pr-3 h-100">Show dislikes</a>
            </div>
        </div>
    </div>
</div>