@model UserLikesVM
@{ System.Globalization.DateTimeFormatInfo date = new System.Globalization.DateTimeFormatInfo();}

@{
    ViewData["Title"] = "ShowLikes";
}

    <div class="col-lg-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Thead Primary</h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead class="text-uppercase bg-primary">
                                <tr class="text-white">
                                    <th scope="col">Liker</th>
                                    <th scope="col">Post</th>
                                    <th scope="col">Poster</th>
                                    <th scope="col">Like time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Like like in Model.Likes.Where(l => l.Liker == Model.MainUser))
                                {
                                    <tr>
                                        <td>@like.Liker.Name @like.Liker.Surname</td>
                                        @foreach (Post post in Model.Posts)
                                        {
                                            if(like.Post == post)
                                            {
                                                <td>@post.Content</td>
                                                @foreach (AppUser user in Model.Users)
                                                {
                                                    if(post.Poster == user)
                                                    {
                                                        <td>@user.Name @user.Surname</td>
                                                    }
                                                }
                                            }
                                        }
                                        <td>
                                            @if (like.Time.Minute < 10)
                                            {
                                                string minute = string.Concat("0", like.Time.Minute);
                                                <span>@like.Time.Day </span>
                                                <span>@date.GetMonthName(like.Time.Month).ToString() </span>
                                                <span class="mr-3">@like.Time.Year</span>
                                                <span>@like.Time.Hour @date.TimeSeparator @minute @date.TimeSeparator @like.Time.Second</span>
                                            }
                                            else if ( like.Time.Second < 10)
                                            {
                                                string second = string.Concat("0", like.Time.Second);
                                                <span>@like.Time.Day </span>
                                                <span>@date.GetMonthName(like.Time.Month).ToString() </span>
                                                <span class="mr-3">@like.Time.Year</span>
                                                <span>@like.Time.Hour @date.TimeSeparator @like.Time.Minute @date.TimeSeparator @second</span>
                                            }
                                            else if (like.Time.Minute < 10 && like.Time.Second < 10)
                                            {
                                                string minute = string.Concat("0", like.Time.Minute);
                                                string second = string.Concat("0", like.Time.Second);
                                                <span>@like.Time.Day </span>
                                                <span>@date.GetMonthName(like.Time.Month).ToString() </span>
                                                <span class="mr-3">@like.Time.Year</span>
                                                <span>@like.Time.Hour @date.TimeSeparator @minute @date.TimeSeparator @second</span>
                                            }
                                            else
                                            {
                                                <span>@like.Time.Day </span>
                                                <span>@date.GetMonthName(like.Time.Month).ToString() </span>
                                                <span class="mr-3">@like.Time.Year</span>
                                                <span>@like.Time.Hour @date.TimeSeparator @like.Time.Minute @date.TimeSeparator @like.Time.Second</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>