@model IEnumerable<AppUser>
@{ int num = 1;}
@{ AppUser loggedUser = await _userManager.GetUserAsync(User); }

@{
    ViewData["Title"] = "Users";
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h1 class="header-title text-center">SciCo Users</h1>
            <div class="data-tables datatable-dark">
                <table id="dataTable3" style="width: 100%;">
                    <thead class="text-capitalize">
                        <tr>
                            <th>No</th>
                            <th>Id</th>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AppUser user in Model)
                        {
                            <tr>
                                <td>@num</td>
                                <td>@user.Id</td>
                                <td>
                                    <a asp-controller="UserManagement" asp-action="Info" asp-route-id="@user.Id" class="text-danger">@user.Name @user.Surname</a>
                                </td>
                                <td>@user.Email</td>
                                <td>@user.UserName</td>
                                <td>@{ int age = DateTime.Now.Year - user.Birthday.Year; }@age</td>
                            </tr>
                            { num++; }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>