@model RequestsVM

@{
    ViewData["Title"] = "ShowFriendRequests";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

    <section id="friend-requests">
        @if (Model.RequestorUsers.Count() == 0)
        {
            <div id="noRequest">
                <p>No Friend Requests</p>
            </div>
        }
        else
        {
            <div>
                @foreach (AppUser requestor in Model.RequestorUsers)
                {
                    FriendRequest request = _db.FriendRequests.FirstOrDefault(r => r.RequestorUser == requestor);
                    <div class="requestResult">
                        <div class="resultAccount">
                            @if (!(Model.Photos.Any(p => p.user == requestor && p.isProfilePhoto == true)))
                            {
                                <span>No<br />Photo</span>
                            }
                            else
                            {
                                @foreach (Photo photo in Model.Photos.Where(p => p.user == requestor && p.isProfilePhoto == true).TakeLast(1))
                                {
                                    <img src="~/img/@photo.Link" alt="user's profile photo" />
                                }
                            }
                            <a asp-controller="Account" asp-action="Timeline" asp-route-id="@requestor.Id">@requestor.Name @requestor.Surname</a>
                        </div>
                        <div class="requestOptions">
                            <ul>
                                <li>
                                    <form asp-controller="Friend" asp-action="AcceptFriendRequest">
                                        <input type="hidden" name="requestorId" value="@requestor.Id" />
                                        <input type="hidden" name="requestId" value="@request.Id">
                                        <button href="#" title="Confirm"> <i class="fas fa-user-plus"></i> </button>
                                    </form>
                                </li>
                                <li>
                                    <form asp-controller="Friend" asp-action="DeleteFriendRequest">
                                        <input type="hidden" name="requestId" value="@request.Id">
                                        <button href="#" title="Delete"> <i class="fas fa-user-minus"></i> </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
            @if (Model.RequestorUsers.Count() > 5)
            {
                <div id="pagination">
                    <ul>
                        <li>
                            <a href="#"> <i class="fas fa-angle-left"></i>Previous</a>
                        </li>
                        <li>
                            <a href="#">Next<i class="fas fa-angle-right"></i> </a>
                        </li>
                    </ul>
                </div>
            }
        }
    </section>