@model RequestsVM

@{
    ViewData["Title"] = "ShowFriendRequests";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

    <section id="friend-requests">
        <div>
            @foreach (AppUser requestor in Model.RequestorUsers)
            {
                FriendRequest request = _db.FriendRequests.FirstOrDefault(r => r.RequestorUser == requestor);
                <div class="requestResult">
                    <div class="resultAccount">
                        @if (requestor.ProfilePhoto == null)
                        {
                            <span>No<br />Photo</span>
                        }
                        else
                        {
                            <img src="~/img/@requestor.ProfilePhoto" alt="user's profile photo" />
                        }
                        <a href="#">@requestor.Name @requestor.Surname</a>
                    </div>
                    <div class="showProfile">
                        <ul>
                            <li>
                                <form asp-controller="Friend" asp-action="AcceptFriendRequest">
                                    <input type="hidden" name="requestorId" value="@requestor.Id" />
                                    <input type="hidden" name="requestId" value="@request.Id">
                                    <button href="#" title="Confirm"> <i class="fas fa-user-plus"></i> </button>
                                </form>
                            </li>
                            <li>
                                <form asp-controller="Friend" asp-action="DeleteFriendRequest">
                                    <input type="hidden" name="requestId" value="@request.Id">
                                    <button href="#" title="Delete"> <i class="fas fa-user-minus"></i> </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div id="pagination">
            <ul>
                <li>
                    <a href="#"> <i class="fas fa-angle-left"></i>Previous</a>
                </li>
                <li>
                    <a href="#">Next<i class="fas fa-angle-right"></i> </a>
                </li>
            </ul>
        </div>
    </section>