@model MessageVM
@{ AppUser user = await _userManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "ShowMessages";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- chat section starts -->
<section id="chatApp">
    <div id="messageSenders">
        @foreach (AppUser sender in Model.Senders.Distinct())
        {
            <div class="chatContent">
                <div>
                    @if (!(Model.Photos.Any(p => p.user == sender && p.isProfilePhoto == true)))
                    {
                        <p>No<br />Photo</p>
                    }
                    else
                    {
                        @foreach (Photo photo in Model.Photos.Where(p => p.user == sender && p.isProfilePhoto == true).TakeLast(1))
                        {
                            <img src="~/img/@photo.Link" alt="user's profile photo" />
                        }
                    }
                </div>
                <div>
                    <p>
                        <a href="#">@sender.Name @sender.Surname</a>
                        @if (Model.Messages.Where(m => m.Sender == sender && m.HasSeen == false).Count() > 1)
                        {
                            <span>@Model.Messages.Where(m => m.Sender == sender && m.HasSeen == false).Count()</span>
                        }
                    </p>
                    @foreach (Message message in Model.Messages.Where(m => m.Sender == sender).TakeLast(1))
                    {
                        <p> <a href="#">@message.Content</a> </p>
                    }
                </div>
            </div>
        }
    </div>
    <div id="chat">
        <div>
            <div class="sent">
                <p>This is from senderThis is from senderThis is from senderThis is from senderThis is from senderThis is from sender</p>
            </div>
            <div class="received">
                <p>This is from receiverThis is from receiverThis is from receiverThis is from receiverThis is from receiver</p>
            </div>
            <div class="sent">
                <p>This is from senderThis is from senderThis is from senderThis is from senderThis is from senderThis is from sender</p>
            </div>
            <div class="received">
                <p>This is from receiverThis is from receiverThis is from receiverThis is from receiverThis is from receiver</p>
            </div>
            <div class="sent">
                <p>This is from senderThis is from senderThis is from senderThis is from senderThis is from senderThis is from sender</p>
            </div>
            <div class="received">
                <p>This is from receiverThis is from receiverThis is from receiverThis is from receiverThis is from receiver</p>
            </div>
        </div>
        <div id="messageInput">
            <form method="post" asp-controller="Message" asp-action="SendMessage">
                <input type="hidden" name="ReceiverId" value="@Model.Receiver.Id" />
                <textarea name="content" id="content" cols="50" rows="5" placeholder="Enter your message..."></textarea>
                <button type="submit">Send<i class="fas fa-share-square"></i> </button>
            </form>
        </div>
    </div>
</section>
<!-- chat section ends -->